<div class="bg-pink flex p-4 w-full items-center justify-start gap-8 rounded-xl shadow-xl text-black hover:bg-red hover:text-pink duration-300 cursor-pointer">
    <div class="flex items-center justify-center">
        <img [src]="photo" alt="foto de perfil" class="w-24 h-24 rounded-full">
    </div>
    <div class="flex flex-col">
        <div class="flex gap-4 text-red-color">
            <div class="flex flex-col items-center justify-between gap-4">
                <span>{{name}}</span>
                <span>{{deficiency || profission || unit}}</span>
            </div>
            <div class="flex flex-col items-center justify-between gap-4">
                <span>{{assistive_technology}}</span>
                <span>{{registration}}</span>
            </div>
            <div class="flex flex-col items-center justify-between gap-4">
                <span>{{course}}</span>
            </div>
        </div>
        <div class="flex gap-4"></div>
    </div>
</div>